# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/

# Environment variables
.env

# Editor/IDE-specific files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
